BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
TabWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -4
IndentAccessModifiers: false
#---