[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/tracy"]
	path = thirdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/glslang"]
	path = thirdparty/glslang
	url = https://github.com/KhronosGroup/glslang.git
